  
.projectsContainer {
	min-height: calc(100vh - 80px);
	background-color: #636363;
	display: flex;

}

.cardColumn {
	align-self: center;
}

.card {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 75%;
	min-height: 55vh;
	text-align: center;
}